{% extends 'base.html.twig' %}

{% block title %}About Us | {{parent()}} {% endblock %}

{% block body %}
<h2>A propos de nous:</h2>
<h3>Notre page propose aux étudiants d'organiser des évenements.</h3>
{% endblock %}
