{% extends 'base.html.twig' %}

{% block title %}Page principale | {{parent()}} {% endblock %}

{% block body %}
<h2>Bienvenue sur Sorties.com,</h2>
<p>LE site pour organiser vos sorties étudiantes.</p>
<p>Vous pouvez facilement organiser vos sorties en les publiant dans notre annuaire de sorties.</p>
<p>Créez vous un compte pour participer aux sorties!</p>
<p>Bonne navigation, l'équipe Sorties.com</p>
{% endblock %}
