{% extends 'base.html.twig' %}

{% block title %}Sorties | {{ parent() }}{% endblock %}

{% block body %}
<h2>Création d'une sortie</h2>
<div class="text-light">
{{ form_start(sortieForm) }}
{{ form_widget(sortieForm) }}
<button>Poster la sortie</button>
{{ form_end(sortieForm) }}
</div>
{% endblock %}
