{% extends 'base.html.twig' %}

{% block title %} Profil | {{ parent() }}{% endblock %}

{% block body %}
<h1> Modification de profil</h1>
<div class="container-fluid ">
  <div>
  {{form(form)}}
</div>


{% endblock %}
